@import './variable.less';

a{
    text-decoration:none;
    color:@text-color;

}

a:hover{
    color:#d2eafb;
}
a:active{
    color:@primary-color !important;
}

// button:hover{
//     color:@primary-color !important;
//     cursor: pointer;
// }
body{
    background:whitesmoke;
}
 #app{
        min-width: 1200px;
    }