.navContent {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  font-weight: bolder;
}
.navActive {
  color: #1890ff;
}

#navItem {
  margin: 20px;
  cursor: pointer;
}
#navItem:hover {
  color: #d2eafb;
}
